@media (max-width: 375px) {
    body {
        background-position: top -38rem left -46rem, bottom -33rem right -48rem;
    }
}

@media (max-width: 280px) {
    .container {
        margin: 15px;
    }
}

@media (max-width: 360px) {
    .container {
        margin: 15px;
    }
}